<div class="container">
  <div class="col-md-4">
    <%= form_for(@user_group_permission, html: {class: 'navbar-form'}) do |f| %>

      <%= f.hidden_field :permission_id, value: params[:permission_id] %>

        <%= f.collection_select :user_group_id, UserGroup.all, :id, :name, {prompt: true}, {class: 'form-control'} %>
      <%= f.submit t('action.add'), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
